body {
  background-color: #fcfedd; }

.carousel-item_img {
  border: 3px;
  border-style: solid;
  border-color: black;
  width: auto; }

.carousel-inner--align {
  margin-top: 1%;
  margin-right: 1%;
  text-align: right; }

.tabla__inst {
  list-style-type: square;
  color: yellow;
  font-style: italic;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em; }

.tabla__celda {
  padding: 0;
  text-align: left; }

.pao__items, .escuela__items {
  border: 0;
  border-style: none;
  margin: 0;
  align-self: center;
  text-align: justify; }

.escuela__items {
  text-align: justify; }

.escuela__items--red {
  color: #ad1305;
  font-style: bold; }

.img1__items, .img2__items {
  border: 0;
  border-style: none;
  margin: 5%;
  align-self: center; }

.img1__items--bor {
  border: 3px;
  border-style: solid;
  margin: 0;
  align-self: none; }

.img2__items--bor {
  border: 3px;
  border-style: solid;
  margin: 0;
  align-self: none; }

.container-fluid__img {
  border: 1px;
  border-style: solid;
  margin: 0;
  align-self: center;
  margin: 5px 0 1.3rem 0;
  padding: 0;
  width: 100%; }

.container-fluid__h2 {
  margin: 25px 0 5px 1.3rem;
  font-size: 2rem; }

.container-fluid__p {
  margin: 1.3rem;
  margin-top: 5px;
  text-align: justify; }

.container__h2 {
  margin: 25px 0;
  color: black; }

.box {
  background-color: #ffffff;
  width: 25em;
  height: 100%;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  opacity: 0.6; }

.gal {
  height: 100%;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: bottom; }

.gal__cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  height: 100%; }

article.gal__cont img:hover {
  transform: scale(1.1); }

.gal__img {
  margin: 0;
  border: 3px;
  border-style: solid;
  transition: 1s; }

.nosotros__box {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  position: relative; }

.box__text {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1000;
  font-family: 'Alegreya', serif;
  font-size: 3rem; }

.box__img {
  margin: 20px 5px 20px 15px;
  width: auto; }

.cursos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.cursos__title {
  width: 55%; }

.cursos__trabajos {
  width: 45%; }

.trabajos__p {
  width: 45%; }

.title__p {
  width: 45%; }

.grid-bio {
  display: grid;
  grid-template-areas: "pao pao img1" "escuela escuela img2" "footer footer footer";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 42% 42% auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 5px; }

.grid-container {
  display: grid;
  grid-template-areas: "nosotros nosotros" "cursos cursos" "div div" "footer footer";
  grid-template-columns: 50% auto;
  grid-template-rows: 60% 30% 35% auto;
  grid-column-gap: 5px;
  margin: 0;
  height: auto; }

.grid-nav {
  display: grid;
  grid-template-areas: "nav nav nav" "header header header";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 70px 130px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0; }

.grid-cursos {
  display: grid;
  grid-template-areas: "encabezado .." "tabla desc" "desc2 desc2" "footer footer";
  grid-template-columns: 45% 55%;
  grid-template-rows: 10% 35% 45% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: center;
  border: 1px;
  border-style: solid;
  border-color: white; }

.nav {
  grid-area: nav;
  border: 3px;
  border-style: solid;
  border-color: black; }

.div {
  grid-area: div;
  height: 33%; }

.nosotros {
  grid-area: nosotros; }

.cursos {
  grid-area: cursos;
  margin: 30px; }

.footer {
  grid-area: footer; }

.img1 {
  grid-area: img1;
  margin: 30px; }

.img2 {
  grid-area: img2;
  margin: 30px; }

.pao {
  grid-area: pao;
  margin: 30px; }

.escuela {
  grid-area: escuela;
  margin: 30px; }

.tabla {
  grid-area: tabla;
  margin: 30px; }

.desc {
  grid-area: desc;
  margin: 30px;
  text-align: justify; }

.desc2 {
  grid-area: desc2;
  margin: 30px;
  text-align: justify; }

.encabezado {
  grid-area: encabezado;
  margin: 30px 0 0 30px; }

@media (max-width: 770px) {
  .grid-bio {
    grid-template-areas: "pao " "img1 " "escuela " "img2 " "footer ";
    grid-template-columns: auto;
    grid-template-rows: 30% 15% 30% 15% auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin: 0;
    padding: 0;
    height: auto; }
  .grid-cursos {
    grid-template-areas: "encabezado" "tabla" "desc" "desc2" "footer";
    grid-template-columns: auto;
    grid-template-rows: 8% 18% 25% 20% auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  .encabezado {
    margin: 30px 30px 0 30px; }
  .tabla {
    margin: 0 30px 15px 30px; }
  .header__box {
    width: 100%; }
  div#collapsibleNavbar {
    background-color: #343a40;
    border: 3px;
    border-style: solid;
    border-color: grey;
    z-index: 100;
    font-size: 0.8em; }
  li {
    margin: 3px;
    padding: 0; }
  .nav-link_sub {
    font-size: 15px;
    margin: 2px;
    padding: 0; }
  li ul {
    background-color: #4da0a6;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2px;
    left: 33%; }
  li:hover ul {
    height: auto; }
  .container-fluid__div {
    padding: 0 !important; } }

.header__box {
  background-color: #ffffff;
  width: 20em;
  height: 90%;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  opacity: 0.6; }

.header__box__logo {
  font-size: 4.8em;
  font-family: 'Amatic SC', cursive;
  color: #cbba15;
  text-align: center;
  height: 80%; }

.box__logo--a {
  text-decoration: none;
  color: #cbba15; }

h1:hover a.box__logo--a {
  text-decoration: none;
  color: #cbba15; }

.header__box__sub {
  color: red;
  position: relative;
  text-align: center;
  font-size: 1.4em;
  bottom: 15%;
  font-family: cursive, serif; }

ul {
  list-style: none; }

li {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  color: black;
  font-weight: bold; }

ul ul {
  visibility: hidden;
  position: absolute;
  transition: 1s;
  opacity: 0;
  height: 0; }

ul li:hover a {
  color: white; }

li:hover ul {
  visibility: visible;
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 100;
  height: 250px; }

ul ul li:hover a {
  color: black; }

a {
  text-decoration: none;
  color: black; }

ul ul li a {
  font-size: 20px; }

li ul {
  background-color: rgba(66, 119, 115, 0.54);
  color: black;
  text-decoration: none;
  border: none;
  border-style: ridge; }

.navbar--log {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem; }

.footer__text {
  align-self: end;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: bold; }

.footer__pie--gal {
  padding: 0;
  margin: 0;
  align-self: end;
  border: 3px;
  border-style: solid;
  border-color: black;
  font-weight: bold; }
