.body--bg {
  background-color: white; }

.carousel-item_img {
  border: 3px;
  border-style: solid;
  border-color: black;
  width: auto; }

.carousel-inner--align {
  margin-top: 1%;
  margin-right: 1%;
  text-align: center; }

.tabla__inst {
  list-style-type: square;
  color: yellow;
  font-style: italic;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em; }

.tabla__celda {
  padding: 0;
  text-align: left; }

.pao__items, .escuela__items {
  border: 0;
  border-style: none;
  margin: 0;
  align-self: center;
  text-align: justify; }

.pao__items--h2 {
  font-weight: bold; }

.escuela__items {
  text-align: justify; }

.escuela__items--red {
  color: #ad1305;
  font-style: bold; }

.img1__items, .img2__items {
  border: 0;
  border-style: none;
  margin: 5%;
  align-self: center; }

.img1__items--bor {
  border: 3px;
  border-style: solid;
  margin: 0;
  align-self: none; }

.img2__items--bor {
  border: 3px;
  border-style: solid;
  margin: 0;
  align-self: none; }

.container-fluid__img {
  border: 1px;
  border-style: solid;
  margin: 0;
  align-self: center;
  margin: 5px 0 1.3rem 0;
  padding: 0;
  width: 100%; }

.container-fluid__h2 {
  margin: 25px 0 5px 0;
  font-size: 2rem;
  font-weight: bold; }

.container-fluid__p {
  margin: 1.3rem;
  margin-top: 5px;
  text-align: justify; }

.container__h2 {
  margin: 25px 0;
  color: black; }

.box {
  background-color: #ffffff;
  width: 25em;
  height: 100%;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  opacity: 0.6; }

.gal {
  height: 100%;
  background-color: white; }

.gal__cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  align-items: center;
  height: 100%; }

article.gal__cont img:hover {
  transform: scale(1.1); }

.gal__img {
  margin: 0;
  border: 3px;
  border-style: solid;
  transition: 1s; }

.nosotros__box {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  position: relative; }

.box__text {
  position: absolute;
  top: 35%;
  left: 5%;
  font-family: 'Alegreya', serif; }

.slog {
  font-size: 3rem; }

.box__img {
  margin: 2rem 5px 20px 15px;
  width: 50%; }

.cursos__cont {
  display: flex;
  flex-flow: column; }

.cursos__title {
  font-family: 'Montserrat', sans-serif; }

.cursos__trabajos {
  width: auto;
  font-family: 'Montserrat', sans-serif; }

.trabajos__p {
  width: auto;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif; }

.title__p {
  width: auto;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif; }

.div__button {
  border: 3px solid white;
  background-color: rgba(13, 104, 149, 0.82);
  padding: 10px;
  margin: 10px; }

.div__button--link {
  color: white;
  font-family: arial inherit;
  font-weight: lighter;
  text-decoration: none; }

.div__button:hover a {
  text-decoration: none;
  color: #42c4db; }

.form__btm {
  color: white;
  background-color: rgba(13, 104, 149, 0.82);
  font-family: arial inherit;
  font-weight: lighter; }

.encabezado__h2 {
  font-weight: bold; }

.grid-bio {
  display: grid;
  grid-template-areas: "pao pao img1" "escuela escuela img2" "footer footer footer";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 42% 42% auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 5px; }

.grid-container {
  display: grid;
  grid-template-areas: "nosotros nosotros" "cursos div" "cursos div" "footer footer";
  grid-template-columns: 50% auto;
  grid-template-rows: 65% 15% 25% 15%;
  grid-column-gap: 5px;
  margin: 0;
  height: auto; }

.grid-nav {
  display: grid;
  grid-template-areas: "nav nav nav" "header header header";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 70px 130px;
  grid-column-gap: 5px;
  margin: 0; }

.grid-cursos {
  display: grid;
  grid-template-areas: "encabezado .." "tabla desc" "desc2 desc2" "footer footer";
  grid-template-columns: 45% 55%;
  grid-template-rows: 10% 35% 45% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: center;
  border: 1px;
  border-style: solid;
  border-color: white; }

.nav {
  grid-area: nav;
  background-color: #074871;
  width: 100%;
  height: 70px;
  position: fixed !important;
  z-index: 100; }

.div {
  grid-area: div;
  margin: 30px;
  margin-top: 0; }

.nosotros {
  grid-area: nosotros; }

.cursos {
  grid-area: cursos;
  margin: 30px;
  margin-top: 0; }

.footer {
  grid-area: footer;
  background-color: #074871;
  height: auto; }

.img1 {
  grid-area: img1;
  margin: 30px; }

.img2 {
  grid-area: img2;
  margin: 30px; }

.pao {
  grid-area: pao;
  margin: 30px; }

.escuela {
  grid-area: escuela;
  margin: 30px; }

.tabla {
  grid-area: tabla;
  margin: 30px; }

.desc {
  grid-area: desc;
  margin: 30px;
  text-align: justify; }

.desc2 {
  grid-area: desc2;
  margin: 30px;
  text-align: justify; }

.encabezado {
  grid-area: encabezado;
  margin: 30px 0 0 30px; }

@media (max-width: 660px) {
  .footer__box {
    flex-direction: column !important; }
  .footer {
    height: 350px; }
  .footer__box {
    align-items: center; }
  .footer__box--logo {
    text-align: center; }
  .footer__box--sub {
    width: 100%;
    flex-direction: column;
    text-align: center; }
  .footer__text {
    justify-content: center; }
  .footer__text--img {
    justify-content: center; }
  .footer__text--p {
    text-align: center;
    width: 100%; }
  p {
    text-align: left !important; }
  .gal__img {
    height: 100px;
    width: 150px; } }

@media (max-width: 976px) {
  .grid-container {
    grid-template-areas: "nosotros" "div" "cursos" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 500px 20% 30% 100px;
    height: auto;
    grid-row-gap: 5px; }
  .nosotros__box {
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: start; }
  .box__text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 5px; }
  .slog {
    font-size: 2rem; }
  .box__img {
    width: 100%;
    margin: 0; }
  .carousel-item_img {
    border: none; }
  .div__button {
    margin: 0; }
  .div {
    margin: 10px; }
  .cursos {
    margin: 10px; }
  .rs--img {
    font-size: 17px; } }

@media (max-width: 770px) {
  .grid-bio {
    grid-template-areas: "pao " "img1 " "escuela " "img2 " "footer ";
    grid-template-columns: auto;
    grid-template-rows: 30% 15% 30% 17% auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin: 0;
    padding: 0;
    height: auto; }
  .grid-cursos {
    grid-template-areas: "encabezado" "tabla" "desc" "desc2" "footer";
    grid-template-columns: auto;
    grid-template-rows: 8% 18% 25% 38% 10%;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  .encabezado {
    margin: 30px 30px 0 30px; }
  .tabla {
    margin: 0 30px 15px 30px; }
  .header__box {
    width: 100%; }
  div#collapsibleNavbar {
    background-color: #074871;
    z-index: 100;
    font-size: 0.8em; }
  li {
    margin: 3px;
    padding: 0; }
  .nav-link_sub {
    font-size: 15px;
    margin: 2px;
    padding: 0; }
  li ul {
    background-color: #4da0a6;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2px;
    left: 33%; }
  li:hover ul {
    height: auto; }
  .container-fluid__div {
    padding: 0 !important; } }

.header__box {
  background-color: #ffffff;
  width: 20em;
  height: 90%;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  opacity: 0.6; }

.header__box__logo {
  font-size: 4.8em;
  font-family: 'Amatic SC', cursive;
  color: #cbba15;
  text-align: center;
  height: 80%; }

.box__logo--a {
  text-decoration: none;
  color: #cbba15; }

h1:hover a.box__logo--a {
  text-decoration: none;
  color: #cbba15; }

.header__box__sub {
  color: red;
  position: relative;
  text-align: center;
  font-size: 1.4em;
  bottom: 15%;
  font-family: 'Alegreya', serif; }

ul {
  list-style: none; }

li {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  color: black;
  font-weight: bold; }

a {
  text-decoration: none;
  color: black; }

.navbar--log {
  font-family: 'Amatic SC', cursive;
  font-size: 40px !important; }

.footer__box {
  display: flex;
  flex-direction: row;
  height: 100%; }

.footer__box--sub {
  display: flex;
  width: 100%; }

.footer__text {
  display: flex;
  align-self: end;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 80%;
  margin: 10px 0 0 20px;
  height: 50%; }

.footer__text--img {
  width: 55%;
  font-size: 15px;
  color: white;
  height: 100%;
  margin-top: 5px; }

.footer__text--p {
  width: 55%;
  font-size: 15px;
  color: white;
  height: 80%;
  margin-top: 15px; }

.footer__pie--gal {
  padding: 0;
  margin: 0;
  align-self: end;
  border: 3px;
  border-style: solid;
  border-color: black;
  font-weight: bold; }

.footer__box--logo {
  font-family: 'Amatic SC', cursive;
  width: 40%;
  margin: 10px;
  margin-top: 15px; }

.footer__box--link {
  color: white;
  font-size: 2rem; }

.footer__box--logo:hover a {
  text-decoration: none;
  color: white; }

.footer__box--copy {
  width: 40%;
  display: flex;
  flex-flow: column nowrap; }

.rs--img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px 10px 0 10px; }
