.footer__text{
    align-self: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.footer__pie--gal{
  padding: 0;
  margin: 0;
  align-self: end;
  border: 3px ;
  border-style: solid;
  border-color: black;
  font-weight: bold;
}
