.footer__box{
  display: flex;
  flex-direction: row ;
  height: 100%;
}
.footer__box--sub{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.footer__text{
    display: flex;
    align-self: end;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 80%;
    margin: 10px 0 0 20px;
    height: 50%;
}
@mixin set ($width, $font, $color, $height){
  width: $width;
  font-size: $font;
  color: $color;
  height: $height;
}
.footer__text--img{
  @include set(55%, 15px, white, 100%);
  margin: 0;
}
.footer__text--p{
  @include set(55%, 15px, white, 80%);
  margin-top: 15px;
}
.footer__text--p2{
  @include set(55%, 15px, white, 80%);
  margin-top: 15px;

}
.footer__pie--gal{
  padding: 0;
  margin: 0;
  align-self: end;
  border: 3px ;
  border-style: solid;
  border-color: black;
  font-weight: bold;
}

.footer__box--logo{
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: white;
  width: 40%;
  margin: 10px;
  margin-top: 15px;

}
.footer__box--copy{
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
}
.rs--img{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 10px 0 10px;

}
