.footer__box{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}
.footer__text{
    align-self: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 20%;
    margin: 10px;
    margin-top: 15px;

}
.footer__pie--gal{
  padding: 0;
  margin: 0;
  align-self: end;
  border: 3px ;
  border-style: solid;
  border-color: black;
  font-weight: bold;
}
.footer__box--logo{
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: white;
  width: 20%;
  margin: 10px;
  margin-top: 15px;

}
.rs--img{
  width: 2rem;
  height: 2rem;

}
