@import "variables";
body{
    background-image: linear-gradient(#5c7377, #539296, #5c7377);

}


@mixin set($border, $style, $margin, $align) {
  border: $border;
  border-style: $style;
  margin: $margin;
  align-self: $align;
}
.carousel-item_img{
  border: 3px;
  border-style: solid;
  border-color: black;
}
.tabla__inst{
  list-style-type: square;
  color: yellow;
  font-style: italic;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.tabla__celda{
  padding: 0;
  text-align: left;
}

.pao__items{
  @include set(0, none, 0, center);
  text-align: justify;
}
.escuela__items{
  @extend.pao__items;
  text-align: justify;
}
.escuela__items--red{
  color: #ad1305;
  font-style: bold;
}
.img1__items{
  @include set(0, none, 5%, center);
}
.img2__items{
  @extend.img1__items;
}
.img1__items--bor{
  @include set(3px, solid, 0, none);
}
.img2__items--bor{
  @include set(3px, solid, 0, none);
}
.container-fluid__img{
  @include set(3px, solid, 1.3rem, center);
  margin-top: 5px;
}

.container-fluid__h2{
  margin: 25px 0 5px 1.3rem;
  font-size: 2rem;
}
.container-fluid__p{
  margin: 1.3rem ;
  margin-top: 5px;
  text-align: justify;
}
.container__h2{
  margin: 25px 0 ;
  color: black;
}
.box{
  background-color: #ffffff;
  width: 25em;
  height: 100%;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  opacity: 0.6;
}

.gal{
  height: 100%;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: bottom;
}
.gal__cont{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  height: 100%;
}

article.gal__cont img:hover {
    transform: scale(1.1);
}
.gal__img{
  margin: 0;
  border: 3px;
  border-style: solid;
  transition: 1s;
}
.carousel-inner--align{
  text-align: center;
  margin-top: 1%;
}
