@import "variables";
body{
  background-color: #fcfedd;
}

@mixin set($border, $style, $margin, $align) {
  border: $border;
  border-style: $style;
  margin: $margin;
  align-self: $align;
}
.carousel-item_img{
  border: 3px;
  border-style: solid;
  border-color: black;
  width: auto;
}
.carousel-inner--align{
  margin-top: 1%;
  margin-right: 1%;
  text-align: center;

}
.tabla__inst{
  list-style-type: square;
  color: yellow;
  font-style: italic;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.tabla__celda{
  padding: 0;
  text-align: left;
}

.pao__items{
  @include set(0, none, 0, center);
  text-align: justify;
}
.escuela__items{
  @extend.pao__items;
  text-align: justify;
}
.escuela__items--red{
  color: #ad1305;
  font-style: bold;
}
.img1__items{
  @include set(0, none, 5%, center);
}
.img2__items{
  @extend.img1__items;
}
.img1__items--bor{
  @include set(3px, solid, 0, none);
}
.img2__items--bor{
  @include set(3px, solid, 0, none);
}
.container-fluid__img{
  @include set(1px, solid, 0, center);
  margin: 5px 0 1.3rem 0;
  padding: 0;
  width: 100%;
}

.container-fluid__h2{
  margin: 25px 0 5px 1.3rem;
  font-size: 2rem;
}

.container-fluid__p{
  margin: 1.3rem ;
  margin-top: 5px;
  text-align: justify;
}
.container__h2{
  margin: 25px 0 ;
  color: black;
}
.box{
  background-color: #ffffff;
  width: 25em;
  height: 100%;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  opacity: 0.6;
}

.gal{
  height: 100%;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: bottom;
}
.gal__cont{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  height: 100%;
}

article.gal__cont img:hover {
    transform: scale(1.1);
}
.gal__img{
  margin: 0;
  border: 3px;
  border-style: solid;
  transition: 1s;
}

.nosotros__box{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  position: relative;
}
.box__text {
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 1000;
  font-family: 'Alegreya', serif;
}
.slog{
  font-size: 3rem;
}
.box__img{
  margin: 2rem 5px 20px 15px ;
  width: 50%;
}
.cursos__cont{
  display: flex;
  flex-flow: column;
}
.cursos__title{

}
.cursos__trabajos{
  width: auto;
}
.trabajos__p{
  width: auto;
  margin-right: 10px;
}
.title__p{
  width: auto;
  margin-right: 10px;
}
.div__button{
    border:  3px solid white;
    background-color: rgba(38, 38, 38, 0.92);
    padding: 10px;
    margin: 10px;

  }
  .div__button--link{
    color: yellow;
    font-family: arial inherit;
    font-weight: lighter;
    text-decoration: none;
  }
 .div__button:hover a{
   text-decoration: none;
   color: yellow;
 }
