@import "variables";
.grid-bio{
  display: grid;
  grid-template-areas:

  "pao pao img1"
  "escuela escuela img2"
  "footer footer footer";
  grid-template-columns:  33% 33% 33%;
  grid-template-rows:  42% 42% auto ;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 5px;

}
.grid-container{
  display: grid;
  grid-template-areas:
  "nosotros nosotros"
  "cursos cursos"
  "div div"
  "footer footer";
  grid-template-columns: 50% auto;
  grid-template-rows: 60% 30% 35% auto;
  grid-column-gap: 5px;
  margin: 0;
  height: auto;
}
.grid-nav{
  display: grid;
  grid-template-areas:
  "nav nav nav"
  "header header header";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 70px 130px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0;
}
.grid-cursos{
  display: grid;
  grid-template-areas:
  "encabezado .."
  "tabla desc"
  "desc2 desc2"
  "footer footer";
  grid-template-columns: 45% 55%;
  grid-template-rows: 10% 35% 45% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
.header{
  grid-area: header;
  display: flex;
  justify-content: center;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: center;
  border: 1px;
  border-style: solid;
  border-color: white;

}
.nav{
  grid-area: nav;
  border: 3px;
  border-style: solid;
  border-color: black;
}

.div{
  grid-area: div;
  height: 33%;
}
.nosotros{
  grid-area: nosotros;
}
.cursos{
  grid-area: cursos;
  margin: $my_margin;
}
.footer{
  grid-area: footer;
}
.img1{
  grid-area: img1;
  margin: $my_margin;
}
.img2{
  grid-area: img2;
  margin: $my_margin;
}
.pao{
 grid-area: pao;
 margin: $my_margin;
}
.escuela{
  grid-area: escuela;
  margin: $my_margin;
}
.tabla{
  grid-area: tabla;
  margin: $my_margin;
}
.desc{
  grid-area: desc;
  margin: $my_margin;
  text-align: justify;
}
.desc2{
  grid-area: desc2;
  margin: $my_margin;
  text-align: justify;
}
.encabezado{
  grid-area: encabezado;
  margin: 30px 0 0 30px;
}
