@import "variables";
.grid-bio{
  display: grid;
  grid-template-areas:

  "pao pao img1"
  "escuela escuela img2"
  "footer footer footer";
  grid-template-columns:  33% 33% 33%;
  grid-template-rows:  42% 42% auto ;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 5px;

}
.grid-container{
  display: grid;
  grid-template-areas:
  "div"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 80% auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0;
  height: auto;
}
.grid-nav{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 130px 70px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0;
}
.grid-cursos{
  display: grid;
  grid-template-areas:
  "encabezado .."
  "tabla desc"
  "tabla desc"
  "footer footer";
  grid-template-columns: 45% 55%;
  grid-template-rows: 15% 45% 45% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
.header{
  grid-area: header;
  display: flex;
  justify-content: center;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: center;
  border: 3px;
  border-style: solid;
  border-color: white;

}
.nav{
  grid-area: nav;
  border: 3px;
  border-style: solid;
  border-color: black;
}

.div{
  grid-area: div;
  background-image: url("../Images/Noche estrellada.jpg");
  background-position: bottom;
  border: 3px;
  border-style: solid;
  border-color: white;
}
.footer{
  grid-area: footer;
}
.img1{
  grid-area: img1;
  margin: $my_margin;
}
.img2{
  grid-area: img2;
  margin: $my_margin;
}
.pao{
 grid-area: pao;
 margin: $my_margin;
}
.escuela{
  grid-area: escuela;
  margin: $my_margin;
}
.tabla{
  grid-area: tabla;
  margin: $my_margin;
}
.desc{
  grid-area: desc;
  margin: $my_margin;
}
.encabezado{
  grid-area: encabezado;
  margin: $my_margin;
}
@media (max-width: 770px){

    .grid-bio{
      grid-template-areas:
      "pao "
      "img1 "
      "escuela "
      "img2 "
      "footer ";
      grid-template-columns:  auto;
      grid-template-rows: 25% 15% 25% 15% auto ;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      margin: 0;
      padding: 0;
      height: 70;
    }
    .header__box{
      width: 100%;
    }
    div#collapsibleNavbar{
      background-color: #343a40;
      border: 3px;
      border-style: solid;
      border-color: grey;
      z-index: 100;
      font-size: 0.8em;

    }
    li{
      margin: 3px;
      padding: 0;
    }
    .nav-link_sub{
      font-size: 15px;
      margin: 2px;
      padding: 0;
    }

    li ul{
        background-color: #4da0a6;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 2px;
        left: 33%;
      }
      li:hover ul{
        height: auto ;
    }
}
