ul {
  list-style: none;
}

li {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

ul ul {
  visibility: hidden;
  position: absolute;
  transition: 1s;
  opacity: 0;
  height: 0;
}

ul li:hover a {
  color: white;
}

li:hover ul {
  visibility: visible;
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 100;
  height: 250px;
}

ul ul li:hover a {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul ul li a {
  font-size: 20px;
}

li ul {
  background-color: rgba(66, 119, 115, 0.54);
  color: black;
  text-decoration: none;
  border: none;
  border-style: ridge;
}
.navbar--log{
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}
