@media (max-width: 660px){
  .footer__box{
    flex-direction: column !important;
  }
  .footer{
    height: 350px;
  }
  .footer__box{
    align-items: center;
  }
  .footer__box--logo{
    text-align: center;
  }
  .footer__box--sub{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .footer__text{
    justify-content: center;
  }
  .footer__text--img{
    justify-content: center;
  }
  .footer__text--p{
    text-align: center;
    width: 100%;
  }
  .gal__img{
    height: 100px;
    width: 150px;
  }
p{
  word-spacing: 3px;

}
  .gal{
    height: 100% !important;
  }
  .pao__items{
    text-align: left;
  }
  .escuela__items{
    text-align: left;
  }
  .container-fluid__p{
    text-align: left;
  }
}

@media (max-width: 976px){
  .grid-container{
    grid-template-areas:
    "nosotros"
    "div"
    "cursos"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 500px 20% 30% 100px;
    height: auto;
    grid-row-gap: 5px;
  }
  .nosotros__box{
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: start;
  }
  .box__text{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  .slog{
    font-size: 2rem;
  }
  .box__img{
    width: 100%;
    margin: 0;
  }
  .carousel-item_img{
    border: none;
  }
  .div__button{
    margin: 0;
  }
  .div{
    margin: 10px;
  }
  .cursos{
    margin: 10px;
  }

  span.footer__text {

  }

  .rs--img{
    font-size: 17px;
  }
}
@media (max-width: 770px){

    .grid-bio{
      grid-template-areas:
      "pao "
      "img1 "
      "escuela "
      "img2 "
      "footer ";
      grid-template-columns:  auto;
      grid-template-rows: 25% 15% 30% 17% auto;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      margin: 0;
      padding: 0;
      height: auto;
    }
    .grid-cursos{
      grid-template-areas:
      "encabezado"
      "tabla"
      "desc"
      "desc2"
      "footer";
      grid-template-columns: auto;
      grid-template-rows: 8% 18% 25% 38% 10%;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      }
      .encabezado{
        margin: 30px 30px 0 30px;
      }
      .tabla{
        margin: 0 ;
      }
      .header__box{
        width: 100%;
      }

      div#collapsibleNavbar{
        background-color: rgb(7, 72, 113);
        z-index: 100;
        font-size: 0.8em;

        }
    li{
      margin: 3px;
      padding: 0;
    }

    .container-fluid__div{
      padding: 0 !important;
    }

}
