@media (max-width: 770px){

    .grid-bio{
      grid-template-areas:
      "pao "
      "img1 "
      "escuela "
      "img2 "
      "footer ";
      grid-template-columns:  auto;
      grid-template-rows: 30% 15% 30% 15% auto ;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      margin: 0;
      padding: 0;
      height: auto;
    }
    .grid-cursos{
      grid-template-areas:
      "encabezado"
      "tabla"
      "desc"
      "desc2"
      "footer";
      grid-template-columns: auto;
      grid-template-rows: 8% 18% 25% 20% auto;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      }
      .encabezado{
        margin: 30px 30px 0 30px;
      }
      .tabla{
        margin: 0 30px 15px 30px;
      }
      .header__box{
        width: 100%;
      }

      div#collapsibleNavbar{
        background-color: #343a40;
        border: 3px;
        border-style: solid;
        border-color: grey;
        z-index: 100;
        font-size: 0.8em;

        }
    li{
      margin: 3px;
      padding: 0;
    }
    .nav-link_sub{
      font-size: 15px;
      margin: 2px;
      padding: 0;
    }

    li ul{
        background-color: #4da0a6;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 2px;
        left: 33%;
      }
      li:hover ul{
        height: auto ;
    }
    .container-fluid__div{
      padding-left: 5px !important;
    }
}
